<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unifiedinternshipprogram.uip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UIP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIP">
        <activity
            android:name=".login_dashboard"
            android:exported="false" />
        <activity
            android:name=".cv_upload"
            android:exported="false" />
        <activity
            android:name=".registerplatform"
            android:exported="false" />
        <activity
            android:name=".loginplatform"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>