<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unifiedinternshipprogram.uip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UIP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIP">
        <activity
            android:name=".melham_info"
            android:exported="false" />
        <activity
            android:name=".login_dashboard"
            android:exported="false" />
        <activity
            android:name=".loginplatform"
            android:exported="false" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".welcome"
            android:exported="false" />
        <activity
            android:name=".visvis_info"
            android:exported="false" />
        <activity
            android:name=".anafara_info"
            android:exported="false" />
        <activity
            android:name=".individual_applicant_platform"
            android:exported="false" />
        <activity
            android:name=".university_applicant_platform"
            android:exported="false" />
        <activity
            android:name=".cv_upload_individual"
            android:exported="false" />
        <activity
            android:name=".cv_upload_university"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>